@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	--light-primary: #e10f00;
	--primary: #d32e00;
	--secondary: #230700;
	--third: #000000;
	font-size: 18px;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
}

section {
	padding: 32px;
}

section.horizontal {
	display: flex;
	justify-content: space-evenly;
	width: auto;
}

section.vertical {
	display: flex;
	flex-flow: column;
}

section.vertical > * {
	margin-bottom: 5vh;
}

section.horizontal > .paragraph, section.horizontal > section, section.vertical > .paragraph {
	width: 70%;
}

section.horizontal > section {
	padding: 0;
}

section.horizontal > aside {
	width: 20%;
}