* {
    padding: 0;
    margin: 0;
    --primary: #ff3300;
    --secondary: #310a00;
    --third: #000000;
}

.flag {
    width: 2.5%;
}

body {
    background: linear-gradient(180deg, var(--third) 0%, var(--third) 25%, var(--secondary) 100%);
    height: 100vh;
}